<button mat-button (click)="updateFilters()" >Apply Filter</button>

<div class="filter-container">
<form [formGroup]="filter">
    <ng-container formArrayName="categories">
        <ng-container *ngFor="let catForm of categories.controls; index as i">
            <div [formGroup]="getCategoryFormGroup(i)">
                    <mat-checkbox formControlName="waarde"> 

                    {{getCategoryFormGroup(i).value.naam}} 
                </mat-checkbox>
            </div>
        </ng-container>
    </ng-container>
 </form>
 </div>