<h1>{{ recept?.titel}}</h1>
<p class="servings">Servings: {{recept?.servings}}</p>
<mat-chip-list aria-label="Categories">
  <div class="container">
    <mat-chip color="accent" *ngFor="let category of recept?.categories" [routerLink]="['/recepten/lijst', category.id]"
      selected>{{category.naam}}</mat-chip>
  </div>
</mat-chip-list>

<div class="container">

  <div class="ingredienten">
    <h3>Ingredienten</h3>
    <ul>
      <li *ngFor="let ingInRec of recept?.ingredienten">
        <!-- <mat-list-item role="listitem" *ngFor="let ingInRec of recept?.ingredienten"> -->
        <!-- </mat-list-item> -->
        {{ingInRec.hoeveelheid}} {{ingInRec.eenheid}} {{ingInRec.ingredient.naam}}, {{ingInRec.instructie}}

      </li>
    </ul>
    <div class="instructies" [innerHtml]="(recept?.instructies | newlines)"></div>
  </div>
</div>