
<!-- {{recept | json}} -->
<!-- {{recept?.categories}} -->
<div>
  <h1>{{ recept?.titel}}</h1>
  
<mat-chip-list aria-label="Categories">
  <mat-chip color="accent" *ngFor="let category of recept?.categories" [routerLink]="['/recepten/lijst', category.id]" selected>{{category.naam}}</mat-chip>
</mat-chip-list>
<p>Servings: {{recept?.servings}}</p>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let ingInRec of recept?.ingredienten">
     {{ingInRec.hoeveelheid}} {{ingInRec.eenheid}} {{ingInRec.ingredient.naam}}, {{ingInRec.instructie}}
    </mat-list-item>>
  </mat-list>>
  <p>{{recept?.instructies}}</p>
  </div>
