<mat-paginator [length]="(recepten$ | async)?.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="change($event)"
              >
              

</mat-paginator>
<mat-nav-list>
    <mat-list-item class="item" *ngFor="let recept of (page$ | async)" >
    <a  [routerLink]="['/recepten', recept.id]" > 
        <span class="recept-titel">{{ recept.titel }} </span>
        <small class="recept-data"> | Servings: {{recept.servings}} | Categorieen: {{recept.categories | categorieTostring}}
        </small>
    </a>
        <a [routerLink]="['/mealplan/invoer', recept.id]" class="mealplan-add"  matTooltip="Add to mealplan"><mat-icon>event_available</mat-icon></a>
    
</mat-list-item>
 </mat-nav-list>