.mat-list-item:hover{
    background-color: var(--color-accent);
}

.mat-list-item{
    min-width: fit-content;
    margin: auto;
}

@media (max-width: 600px) {
    .recept-titel {
        width: 50%;
    }
}
@media (min-width: 600px) {
    .recept-titel {
        width: 20%;
    }
}
.recept-titel {
    margin-right: 5px;
}