.item:hover{
    background-color: var(--color-accent);
}

.mat-list-item{
    min-width: fit-content;
    margin: auto;
}

@media (max-width: 600px) {
    .recept-titel {
        width: 50%;
    }
    .recept-data{
        visibility: hidden;
    }
}
@media (min-width: 600px) {
    .recept-titel {
        width: 20%;
    }
    .recept-data{
        visibility: visible;
    }
}
.recept-titel {
    margin-right: 5px;
}

.mealplan-add{
    position: absolute;
    right: 0;
    padding-right: 20px;
}