#bottom-align {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-top: 60px;
      
}

.stretch-tofill {
    align-items: stretch;
}


mat-sidenav {
    width: 200px;
}

mat-sidenav-container {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
     }

 mat-sidenav-content {
     position: absolute;
     width: 100%;
     overflow-y: auto;
 }

 app-footer {
     padding-top: 100px;
 }
