

    <button mat-button
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
    >
      Previous
    </button>
    <button
    mat-button
      mwlCalendarToday
      [(viewDate)]="viewDate"
    >
      Today
    </button>
    <button
    mat-button
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
    >
      Next
    </button>
  <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>

<ng-template #loading>
    <div class="container">
        Loading events...<br />
        <mat-spinner></mat-spinner>
    </div>
</ng-template>


Legenda: <mat-chip-list><mat-chip color="primary" selected>Avondeten</mat-chip><mat-chip color="accent" selected>Lunch</mat-chip></mat-chip-list>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
    </div>
    <mat-chip-list aria-label="Fish selection">
    <mat-chip style="margin: 5px;" 
    *ngFor="let event of day.events" 
    mwlDraggable
          [class.cal-draggable]="event.draggable"
          dragActiveClass="cal-drag-active"
          [dropData]="{event: event}"
          [dragAxis]="{x: event.draggable, y: event.draggable}"  
          [color]="event.colour" selected 
          
    >
        {{event.title}} {{event.meta.item.servings}}
        </mat-chip>
        </mat-chip-list>
  </ng-template>

<div *ngIf="events$ | async; else loading; let events">
    <mwl-calendar-month-view 
    [viewDate]="viewDate" 
    [events]="events"  
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)"
    (dayClicked)="dayClicked($event.day)"
    [cellTemplate]="customCellTemplate"
    [activeDayIsOpen]="activeDayIsOpen"
        ></mwl-calendar-month-view>
</div>