
@import '@angular/material/theming';
@include mat-core();
$recipe-app-primary: mat-palette($mat-purple, 700);
$recipe-app-accent: mat-palette($mat-pink, A200, A100, A400);
$recipe-app-secondary: #41aa24;

$recipe-app-warn: mat-palette($mat-red);

$recipe-app-theme: mat-light-theme((
  color: (
    primary: $recipe-app-primary,
    secondary: $recipe-app-secondary,
    accent: $recipe-app-accent,
    warn: $recipe-app-warn,
  )
));

@include angular-material-theme($recipe-app-theme);
