/* You can add global styles to this file, and also import other style files */

@import "custom-theme";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%;
min-height: 100%; }
body { margin:0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: larger;
    overflow: hidden;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

h1{
    padding: 10px;
    text-align: center;
}

p {
    padding-left: 10px;
}

//  div{
//     border:1px solid black !important;
//  }

