/* You can add global styles to this file, and also import other style files */

@import "custom-theme";

html, body { height: 100%; }
body { margin:0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: larger;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 50px;
}

h1{
    padding: 10px;
}

p {
    padding-left: 10px;
}

