/* You can add global styles to this file, and also import other style files */

@import "custom-theme";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%;
min-height: 100%; }
body { margin:0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: larger;
    overflow: hidden;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

h1{
    padding: 10px;
    text-align: center;
}

p {
    padding-left: 10px;
}

 /* Rules for sizing the icon. */
 .mat-icon.md-18 { font-size: 18px; }
 .mat-icon.md-24 { font-size: 24px; }
 .mat-icon.md-36 { font-size: 36px; }
 .mat-icon.md-48 { font-size: 48px; }

//  div{
//     border:1px solid black !important;
//  }

