.spacer {
    flex: 1 1 auto;
  }

.marginright {
    margin-right: 10px;
}
  
  .example-full-width {
    width: 100%;
  }

  @media (max-width: 600px) {
    .search-bar{
      visibility: hidden;
    }
    
  }
  