
  <mat-toolbar color="primary">
    <button mat-icon-button class="marginright" aria-label="Example icon-button with menu icon" 
    (click)="toggleSide()">
    <mat-icon>menu</mat-icon>
  </button>
    <span><h1>Recepten log</h1></span>
    <span class="spacer"></span>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input matInput
                 aria-label="Search"
                 [matAutocomplete]="auto"
                 [formControl]="searchCtrl"
                 (click)="loadRecepten()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let recept of filteredRecepten | async" [value]="recept.titel">
              <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
              <span>{{recept.titel}}</span> |
              <small>Servings: {{recept.servings}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>


    </mat-toolbar>


